Base64 decode outputs extra byte when input ends with ==

Minor base64 bug for you. When the input to be decoded ends with the double pad (==) the data is decoded correctly, but an extra 0 byte is added to the end of the decoded output.

Input with 0 or 1 pads works fine.

Again I've written unit tests with the examples from section 10 of RFC 4648, which is how I found this bug. Build and run test/pony/unit with no args to run these tests.
